# ────────── Python ──────────
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# ────────── Arquivos sensíveis ──────────
.env

# ────────── IDEs ──────────
.vscode/
.idea/

# ────────── macOS / sistema ──────────
.DS_Store
